
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');
/* css 초기화 작업 */

body, h1, h2, h3, p, ul {
  margin: 0;
  padding :0;
}

li {
  list-style-type : none;
}

a{
  text-decoration: none;
  color: inherit;
}

img{
  vertical-align: top;
}

/* 폰트 스타일 */
.josefin {
  font-family: 'Josefin Sans', sans-serif;
}

/* float clear */
.clear:after {
  content: '';
  display: block;
  clear:both;
}


/* css 디자인 영역 */

body{
  background-image: url(image/images.jpg);
  background-position:center;
  background-size: contain;
  font-family: 'Roboto', sans-serif;
  color: #1ab1ad;
}

.wrapper {
  width: 1280px;
  margin: 100px auto;
  background-color : #fff;
}

.side {
  width: 360px;
  background-color: #fed946;
  padding: 40px;
  box-sizing: border-box;

  float: left;
  /* side를 왼쪽에 두고 content를 오른쪽으로 배치하기 위해서.
  이것을 안하면 side가 block 이라서 content 가 밑으로 감 */
}

.logo {
  display:inline-block;
  margin-left: 80px;
}

.logo h1{
  font-family: 'Righteous', cursive;
  color: #fe5603;
  font-size: 100px;
  text-shadow: 5px 5px 7px rgba(0,0,0,0.1);
}

.intro {
  color: #fff;
  margin: 222px 0 330px;
}

.intro h2.josefin{
  font-size: 24px;
  margin-bottom: 15px;
}

.intro .intro-article {
  font-size : 12px;
  line-height:1.5;
}

.contact li {
  float:left;
  margin-right: 10px;
}

.contact a {
  display: block;
  width:20px;
  height:20px;
  border-radius: 100%;
  background-image: url(image/kakaoFriends.jpg);
  background-repeat:no-repeat;
  background-size: 20px auto;
}

.contact a:hover{
  box-shadow : 1px 1px 7px rgba(0,0,0,0.1);
}

.content{
  overflow:hidden;
  text-align: right;
  padding: 60px;
  box-sizing: border-box;
  position: relative;
}

.menu {
   display: inline-block;
   margin-top: -10px;
}

.menu li {
  float: left;
  margin-left: 20px;
}

.menu a {
  display : block;
  padding: 10px;
}

.menu a:hover{
  text-decoration: underline;
  color:#148683;
}

.cocktail-info {
  width:800px;
  margin: 80px auto 0;
}

.cocktail-info img{
  width:500px;
}

 .cocktail {
  float:left;
}

.cocktail.unicon{
  margin: 20px -20px 0 0;
}

.cocktail-name.josefin{
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 20px;
}

.cocktail-detail .description{
  line-height: 2;
}

.pager {
  position:absolute;
  bottom: 35px;
  left:50%;
  transform: translate(-50%);
}

.pager li {
  float: left;
  margin-right:10px;
}

.pager a {
  display: block;
  width:20px;
  height: 4px;
  background-color: #fed946;
}

.pager a:hover {
  background-color : #ddbc3c;
}

.pager a.on {
  background-color: #fe5603;
  width:40px;
}

.sns {
  position: absolute;
  right:20px;
  top:50%;
  width:20px;
}

.sns a {
  display : block;
  height:20px;
  background-image: url(image/kakaoStory.jpg);
  background-size: 20px auto;
  border-radius: 100%; 
}

.sns a:hover {
  box-shadow: 1px 1px 7px rgba(0,0,0,0.1);
}